---

---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>about</title>
    </head>
    <body>
        <h1>Astroサイト</h1>
        <h1>私について</h1>
        <h2>～そして私のサイトについて～</h2>
        <p>Astro入門なう</p>
        <a href="/">index.html</a>
    </body>
</html>
