---
const platform = "github";
const username = "electr-2";
---

<footer>
    <p>成果物：<a href={`https://www.${platform}.com/${username}`}>ここ</a></p>
    <p>さえずり：<a href="https://x.com/electr_2">ここ</a></p>
</footer>
